apache-airflow[celery]==2.6.1 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.6.1/constraints-3.8.txt
azure-identity==1.13.0
azure-storage-blob==12.16.0
pandas==1.5.3
python-decouple==3.8
scikit-learn==1.2.2
textblob==0.17.1
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
transformers==4.28.1