jupyter==1.0.0
jupyterlab==3.6.2
leia-br==0.0.1
mlflow==2.2.2
nltk==3.8.1
pandas==1.5.3
prefect==2.9.0
pyspellchecker==0.7.1
scikit-learn==1.2.2
seaborn==0.12.2
snscrape==0.6.1.20230314
textblob==0.17.1
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.64.1
transformers==4.28.1
wordcloud==1.8.2.2